In [2]:
import pandas as pd
import re

In [5]:
pdf_df = pd.read_excel('excelfiles/testing_input.xlsx', sheet_name='Sheet1')
test_summary_df = pd.read_excel('excelfiles/test.xlsx', sheet_name='Summary_test')

In [13]:
keyword_finance = ['inward remittance','network international','sdm deposit']

In [43]:
debit_ir = []
credit_ir = []

debit_cd = []
credit_cd = []
for i in range(len(pdf_df)):
        for keyword in keyword_finance:
                if keyword == 'inward remittance' or keyword == 'network international':
                        if keyword.lower() in pdf_df['Narration'][i].lower():
                                debit_ir.append(pdf_df['Debit'][i])
                                credit_ir.append(pdf_df['Credit'][i])
                elif keyword == 'sdm deposit':
                        if keyword.lower() in pdf_df['Narration'][i].lower():
                                debit_cd.append(pdf_df['Debit'][i])
                                credit_cd.append(pdf_df['Credit'][i])

In [44]:
len(credit_cd)

63

In [46]:
total_ir = sum(credit_ir) - sum(debit_ir)

In [47]:
total_ir

455334.02

In [48]:
total_cd = sum(credit_cd) - sum(debit_cd)

In [49]:
total_cd

412690.0

In [59]:
for i in range(len(test_summary_df)):
    if test_summary_df['Description'][i].lower() == 'inward remittance':
        test_summary_df['Emirates NBD-Classic Luxury-Main'][i] = total_ir
    elif test_summary_df['Description'][i].lower() == 'cash deposited':
        test_summary_df['Emirates NBD-Classic Luxury-Main'][i]= total_cd

C:\Users\Admin\AppData\Local\Temp\ipykernel_12260\2364509869.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_summary_df['Emirates NBD-Classic Luxury-Main'][i] = total_ir
C:\Users\Admin\AppData\Local\Temp\ipykernel_12260\2364509869.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_summary_df['Emirates NBD-Classic Luxury-Main'][i]= total_cd

In [60]:
test_summary_df

,Description,Emirates NBD-Classic Luxury-Main,Rak Bank-Classic Luxury,CLT - ADCB,CBD Bank,EIB - Loan account,OLT - Emirates Islamic Bank,Emirates NBD-Classic Passenger,ENBD - Classic Riders
0,Opening Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cheques Deposited,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Inward Remittance,455334.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bounced / Returned cheque/DDR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cash Deposited,412690.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Internal transfer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Credit card payment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cheques issued,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Bank Charges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Cash Withdrawn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Closing Balance at the day end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Expected Payments - May'2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Rent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Loan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,RTA Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Sponsor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Total Payments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Expected Receipts - May'2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
test_summary_df.to_excel('ExcelResultantFile/result.xlsx',sheet_name='summary_test')